{
  "env": {
    "test": {
      "presets": ["es2015-node4"],
      "plugins": []
    },
    "node4": {
      "presets": ["es2015-node4"],
      "plugins": ["babel-plugin-add-module-exports"]
    },
    "node5": {
      "presets": ["es2015-node5"],
      "plugins": ["babel-plugin-add-module-exports"]
    },
    "node6": {
      "presets": ["es2015-node5"],
      "plugins": ["babel-plugin-add-module-exports"]
    }
  }
}
