if: tag IS blank

language: node_js

node_js: 10

cache:
  directories:
    - node_modules

stages:
  - release

jobs:
  include:
    - stage: release
      node: 10
      install: npm install --no-save @ahmadnassri/semantic-release
      script: npx semantic-release
      if: branch = master
      if: type IN (push)

notifications:
  email:
    recipients:
      - email+travis@ahmad.codes
    on_success: never
    on_failure: always
